{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "node": false,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
